.track {
  text-align: left;
  height: 50px;
}

.name {
  font-size: 1.5rem;
}

.info {
  font-size: 1rem;
  padding-top: 5px;
  display: inline-block;
}

.track-button {
  position: relative;
  display: flex;
  align-items: center;
  float: right;
  font-size: 3rem;
  transform: translateY(-50%);
  cursor: pointer;
  height: 100%;
}

.previewPlayer {
  position: relative;
  display: flex;
  align-items: center;
  float: right;
  font-size: 3rem;
  transform: translateY(-50%);
  cursor: pointer;
  height: 100%;
  padding-right: 10px;
  margin: 0 auto;
}
