body,
html,
#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  font-weight: 500;
  background: #f4f4f9;
  padding: 0 10% 10% 10%;
  color: #333;
}

h1 {
  margin: 0;
  padding: 2rem;
  font-size: 4rem;
  font-weight: 700;
}

.h1-accent {
  color: #1db954;
}

.results-playlist {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  width: 45%;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1020px) {
  .results-playlist {
    align-items: center;
    flex-direction: column;
  }
}
